<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn to climb!</title>
    <link rel="icon" href="/images/rock-climbing.png">
</head>
<body>
    <header>
        <h1>Do you want to learn how to rock climb?</h1>
    </header>

    <main>
        <img src="~/img/img_9133.jpg" height="400">
        <img src="~/img/r1-07840-033a.jpg" height="400">
    <div>
        @RenderBody()
    </div>

        <section>
            <h2>About My Hobby</h2>
            <p>
                Rock climbing is an exhilarating outdoor activity that challenges both the body and mind,
                offering a unique blend of physical exertion, problem-solving, and breathtaking scenery.
                As climbers ascend natural rock formations, they rely on their strength, agility, and mental
                focus to navigate the intricate routes and reach the summit. Outdoor rock climbing takes
                enthusiasts to stunning locations such as towering cliffs, rugged mountainsides, and picturesque
                canyons, where they can experience the thrill of scaling vertical surfaces while surrounded by nature's grandeur.
            </p>
            <p>
                I love rock climbing, this is why I want nothing more than to share my passion with the world.
                You too can conquer walls, summit moutains, and make exersise fun again, but it doesn't come without its risks.
                The first rule of climbing is "Climbing is Inherently Dangerious."
                With my help as an instructor I hope you can learn to avoid these dangers and climb safely
            </p>
            <p>Please look at the pricing portion of my site to see what I need to help you. Thank you</p>
        </section>
        <script></script>

    </main>

    <footer>
        <p>&copy; 2024 Caitlyn Stokes</p> <!-- Copyright -->
        <p>Website built by Caitlyn Stokes</p> Lead Climb Certified C# not certified
    </footer>
</body>
</html>
